{% extends "@TerAdmin/Layout/page_with_box.html.twig" %}

{% trans_default_domain "TerTranslateBundle" %}

{% block page_title %}{{ 'title.lang_manage'|trans }}{% endblock %}

{% block box_title %}{{ 'title.lang_list'|trans }}{% endblock %}

{% block title %}{{ 'title.lang_list'|trans }}{% endblock %}

{% block box_footer %}
    <a href="{{ path('ter_back_language_add') }}" class="btn btn-primary">
        <i class="fa fa-plus"></i> {{ 'title.lang_add'|trans }}
    </a>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('ter_back_index') }}"><i class="fa fa-book"></i> TER Admin</a></li>
        <li class="active">{{ 'title.lang_manage'|trans }}</li>
    </ol>
{% endblock %}

{% block box_content %}

    {% include "@TerAdmin/Block/flashmessage.html.twig" %}

    <table class="table table-striped">
        <tbody>
        <tr>
            <th>{{ 'label.lang_name'|trans }}</th>
            <th>{{ 'label.lang_code'|trans }}</th>
            <th>{{ 'label.lang_lock'|trans }}</th>
            <th>{{ 'label.lang_default'|trans }}</th>
            <th>{{ 'label.lang_publish'|trans }}</th>
            <th></th>
        </tr>

        {% for language in languages %}
            <tr>
                <td>{{ language.name }}</td>
                <td>{{ language.code }}</td>
                <td>{% if language.isLocked %} <i class="fa fa-lock"></i> {% else %}<i class="fa fa-unlock"></i>{% endif %}</td>
                <td>{% if language.isDefault %} <i class="fa fa-check"></i> {% else %}<i class="fa fa-times"></i>{% endif %}</td>
                <td>{% if language.isPublished %} <i class="fa fa-check"></i> {% else %}<i class="fa fa-times"></i>{% endif %}</td>
                <td>
                    <a href="{{ path('ter_back_language_edit', { slug: language.slug }) }}" class="btn btn-default">
                        <i class="fa fa-pencil"></i> {{ 'template.edit'|trans({}, 'TerAdminBundle') }}
                    </a>
                    <a type="button" class="btn btn-danger" href="{{ path('ter_back_language_delete', { slug: language.slug}) }}">
                        <i class="fa fa-trash"></i> {{ 'template.delete'|trans({}, 'TerAdminBundle') }}
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}